extends _layout

block activenav
  - var activepage = 'project'

block content
  .container
    if error
      h1 Ошибка:
      p.text-danger #{error}
      br
      a(href='/projects') Все проекты
    else
      h1 Данные о проекте
      a(href='/projects/'+data._id)
        img.img-circle.pull-left(src='/upload/'+data.prjLogo, alt='Logo', width="100px")
        h2(style='padding-top: 20px')=data.prjName
      .row
        table.table.table-striped
          tr
            td.col-xs-2 URL:
            td.col-xs-10 #{data.prjUrl}
          tr
            td Описание:
            td #{data.prjDescript}
          tr
            td Лидер:
            td #{data.prjLeader}
          tr
            td Стек технологий:
            td #{data.prjStack}
          tr
            td Возможности:
            td #{data.prjCapabilities}
          tr
            td Потребности:
            td #{data.prjNeeds}
      .row
        .col-sm-2
          a(href='/projects/'+data._id+'/edit') Изменить